.carousel-container {
  overflow: hidden;
  width: 180px;
  height: 150px;
  position: relative;
}

.carousel {
  display: flex;
  width: 100%;
  animation: carouselAnimation 13s linear infinite;
}

.carousel img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  16.666% {
    transform: translateX(calc(-150px * 1));
  }
  33.333% {
    transform: translateX(calc(-150px * 2));
  }
  50% {
    transform: translateX(calc(-150px * 3));
  }
  66.666% {
    transform: translateX(calc(-150px * 4));
  }
  83.333% {
    transform: translateX(calc(-150px * 5));
  }
  100% {
    transform: translateX(calc(-150px * 6));
  }
}
